@media (hover: none) and (pointer: none) {
  .header__button:active {
    background-color: #BFF3F3;
  }
  .top-part__categories-list li:not(:nth-child(3)):active {
    outline-color: #2963A3;
  }
  .main__middle-part article:active {
    outline: 2px solid #16C8BB;
    border-radius: 16px;
  }
  .main__button:active {
    background-color: #44D8CC;
  }
  .form__button:active {
    background-color: #11ECDE;
  }
  .form__law, .form__pp {
    text-decoration: underline;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header__button:active {
    background-color: #BFF3F3;
  }
  .top-part__categories-list li:not(:nth-child(3)):active {
    outline-color: #2963A3;
  }
  .main__middle-part article:active {
    outline: 2px solid #16C8BB;
    border-radius: 16px;
  }
  .main__button:active {
    background-color: #44D8CC;
  }
  .form__button:active {
    background-color: #11ECDE;
  }
  .form__law, .form__pp {
    text-decoration: underline;
  }
}
@media (hover: none) and (pointer: fine) {
  .header__button:active {
    background-color: #BFF3F3;
  }
  .top-part__categories-list li:not(:nth-child(3)):active {
    outline-color: #2963A3;
  }
  .main__middle-part article:active {
    outline: 2px solid #16C8BB;
    border-radius: 16px;
  }
  .main__button:active {
    background-color: #44D8CC;
  }
  .form__button:active {
    background-color: #11ECDE;
  }
  .form__law, .form__pp {
    text-decoration: underline;
  }
}
@media (min-width: 1913px) and (max-width: 2560px) {
  .header__logo-nav {
    width: 1100px;
  }
  main, .main__main-div {
    height: 2454px;
  }
  .main__middle-part {
    grid-template: 700px 650px 650px / auto auto 24px auto 24px auto 24px auto auto;
  }
  article a img {
    height: 400px;
  }
  .card-info__wrapper_superbig-gap {
    row-gap: 172px;
  }
  .card-info__wrapper_supersmall-gap {
    row-gap: 96px;
  }
  .card-info__wrapper_small-gap, .card-info__wrapper_middle-gap {
    row-gap: 102px;
  }
}
@media ((min-width: 2282px) and (max-width: 2560px)) or ((min-width: 1998px) and (max-width: 2039px)) or ((min-width: 2098px) and (max-width: 2223px)) {
  .card-info__wrapper_big-gap {
    row-gap: 172px;
  }
}
@media (min-width: 1913px) and (max-width: 2522px) {
  .card-info__wrapper_supersmall-gap {
    row-gap: 76px;
  }
}
@media (min-width: 1913px) and (max-width: 2451px) {
  .card-info__wrapper_superbig-gap {
    row-gap: 152px;
  }
}
@media ((min-width: 2224px) and (max-width: 2281px)) or ((min-width: 2040px) and (max-width: 2097px)) or ((min-width: 1913px) and (max-width: 1997px)) {
  .card-info__wrapper_big-gap {
    row-gap: 146px;
  }
}
@media (min-width: 1913px) and (max-width: 2223px) {
  header, .main__main-div {
    padding: 0px 100px;
  }
  footer {
    padding: 40px 100px 17px 100px;
  }
}
@media (min-width: 1913px) and (max-width: 2039px) {
  header, .main__main-div {
    padding: 0px 50px;
  }
  footer {
    padding: 40px 50px 17px 50px;
  }
}
@media (max-width: 1816px) {
  header, .main__main-div {
    padding: 0px 163px;
  }
  footer {
    padding: 40px 163px 17px 163px;
  }
}
@media (max-width: 1758px) {
  header, .main__main-div {
    padding: 0px 141px;
  }
  footer {
    padding: 40px 141px 17px 141px;
  }
}
@media (max-width: 1715px) {
  header, .main__main-div {
    padding: 0px 120px;
  }
  footer {
    padding: 40px 120px 17px 120px;
  }
}
@media (max-width: 1672px) {
  .card-info__wrapper_big-gap {
    row-gap: 65px;
  }
}
@media (max-width: 1669px) {
  .card-info__wrapper_middle-gap {
    row-gap: 48px;
  }
}
@media (max-width: 1647px) {
  .card-info__wrapper_middle-gap {
    row-gap: 22px;
  }
}
@media (max-width: 1608px) {
  .middle-part__woman-burnout .card-info__description {
    height: 20px;
    overflow: hidden;
  }
  .middle-part__woman-burnout .card-info__description::after {
    content: "...";
    position: relative;
    right: -95px;
    top: -19px;
  }
}
@media(min-width: 1440px) and (max-width: 1608px) {
  .middle-part__woman-burnout .card-info__wrapper_supersmall-gap {
    row-gap: 18px;
  }
}
@media (max-width: 1558px) {
  .middle-part__woman-burnout .card-info__description {
    max-width: 373px;
  }
  .middle-part__woman-burnout .card-info__description::after {
    position: absolute;
    right: -1px;
    top: 1px;
  }
}
@media (max-width: 1522px) {
  .middle-part__woman-burnout .card-info__description {
    max-width: 283px;
  }
}
@media (max-width: 1522px) {
  .footer__bottom-part {
    width: 563px;
  }
}
@media (max-width: 1499px) {
  .middle-part__girl-burnout .card-info__description {
    height: 40px;
    overflow: hidden;
  }
  .middle-part__girl-burnout .card-info__description::after {
    content: "...";
    position: relative;
    right: -211px;
    top: -19px
  }
}
@media (min-width: 1441px) and (max-width: 1483px) {
  header > a {
    margin-left: 20px;
  }
}
@media (max-width: 1459px) {
  header, .main__main-div {
    padding: 0px 110px;
  }
  footer {
    padding: 40px 110px 17px 110px;
  }
}
@media (min-width: 1440px) and (max-width: 1440px) {
  .header__logo-nav {
    width: 725px;
  }
  .header__nav {
    width: 620px;
  }
}
@media (max-width: 1439px) {
  header, .main__main-div {
    padding: 0px 25px;
  }
  .top-part__bread-crumbs {
    margin-left: 0;
  }
  .middle-part__woman-burnout .card-info__description {
    max-width: none;
    height: auto;
    overflow: visible;
  }
  .middle-part__woman-burnout .card-info__description::after {
    content: normal;
  }
  footer {
    padding: 40px 25px 17px 25px;
  }
}
@media (max-width: 1418px) {
  main, .main__main-div {
    height: 1921px;
  }
  .main__middle-part {
    grid-template: 499px 476px 492px / auto auto 24px auto 24px auto 24px auto auto;
  }
  .middle-part__woman-burnout .card-info__wrapper_supersmall-gap {
    row-gap: 14px;
  }
  .card-info__orig-author {
    width: 139px;
  }
  .card-info__editorial {
    width: 177px;
  }
}
@media (min-width: 1310px) and (max-width: 1418px) {
  article:nth-last-child(-n+3) .middle-part__card-info_size_small {
    height: 232px;
  }
  .middle-part__woman-fears .card-info__wrapper_small-gap, .middle-part__emotions-men .card-info__wrapper_middle-gap {
    row-gap: 38px;
  }
}
@media (max-width: 1309px) {
  main, .main__main-div {
    height: 1961px;
  }
  .main__middle-part {
    grid-template: 499px 496px 512px / auto auto 24px auto 24px auto 24px auto auto;
  }
  .footer__form {
    margin-left: -30px;
  }
}
@media (min-width: 1271px) and (max-width: 1309px) {
  article:nth-child(-n+5):not(:nth-child(-n+2)) a {
    height: 496px;
  }
  article:nth-child(-n+5):not(:nth-child(-n+2)) .middle-part__card-info_size_small {
    height: 236px;
  }
  article:nth-last-child(-n+3) .middle-part__card-info_size_small {
    height: 252px;
  }
  .middle-part__swim-fears .card-info__wrapper_small-gap, .middle-part__emotions-smile .card-info__wrapper_middle-gap {
    row-gap: 42px;
  }
  .middle-part__woman-fears .card-info__wrapper_small-gap, .middle-part__emotions-men .card-info__wrapper_middle-gap {
    row-gap: 58px;
  }
}
@media (max-width: 1293px) {
  header > a {
    margin-left: 20px;
  }
}
@media (max-width: 1270px) {
  main, .main__main-div {
    height: 1871px;
  }
  .main__back-div {
    display: none;
  }
  .main__main-div {
    display: flex;
    flex-direction: column;
  }
  .main__middle-part {
    grid-template: 499px 459px 459px / 148px 148px 32px 148px 24px 148px 16px 148px 148px;
    align-self: center;
  }
  article:not(:nth-child(-n+2)) {
    width: 304px;
  }
  article:nth-child(5), article:last-child {
    margin-left: -8px;
  }
  .main__middle-part article:not(:nth-child(-n+2)) a > img {
    height: 206px;
  }
  .middle-part__girl-burnout .card-info__wrapper_supersmall-gap, .middle-part__woman-burnout .card-info__wrapper_supersmall-gap {
    row-gap: 26px;
  }
  .card-info__wrapper_big-gap {
    row-gap: 39px;
  }
  .card-info__wrapper_superbig-gap {
    row-gap: 45px;
  }
  .card-info__wrapper_small-gap {
    row-gap: 12px;
  }
  .card-info__wrapper_middle-gap {
    row-gap: 38px;
  }
  .middle-part__girl-burnout h2, .middle-part__woman-burnout h2 {
    width: 272px;
  }
  .middle-part__swim-fears h2, .middle-part__woman-fears h2 {
    width: 245px;
  }
  .main__middle-part .card-info__editorial, .main__middle-part .card-info__editorial + span {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1270px) {
  article:not(:nth-child(-n+2)) div {
    padding: 17px 16px 16px 16px;
  }
}
@media (max-width: 1245px) {
  header {
    width: 1024px;
    border-bottom: medium none currentColor;
    box-shadow: none;
    padding: 0px 32px;
    margin: 0 auto;
  }
  .header__logo-nav {
    gap: 32px;
    width: auto;
    justify-content: normal;
  }
  .header__nav {
    width: 627px;
  }
  body > hr {
    display: block;
  }
  main {
    margin: 0 auto;
  }
  main, .main__main-div {
    width: 1024px;
    height: 1866px;
  }
  .main__main-div {
    align-items: center;
    padding: 0px 32px;
  }
  .main__top-part {
    width: 960px;
    align-self: center;
  }
  .top-part__heading {
    margin: 40px 0px 32px 0px;
  }
  .top-part__categories-list {
    width: 934px;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: normal;
  }
  .main__bottom-part {
    margin: 35px 0px 60px 0px;
  }
  .main__button {
    width: 182px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 17px 0px;
  }
  .footer__main-part {
    width: 960px;
  }
  .footer__main-part {
    margin: 0 auto;
  }
  footer nav {
    margin-left: 6px;
  }
  .footer__nav-links {
    grid-template: repeat(5, 24px) / 110.5px 30px 106.5px;
  }
  .footer__form {
    margin-left: 0;
  }
  footer hr {
    width: 960px;
    margin: 24px auto 16px auto;
  }
  .footer__bottom-part {
    width: 960px;
    column-gap: 48px;
    justify-content: flex-start;
  }
}
@media (max-width: 1038px) {
  header, .main__main-div {
    padding: 0px 24.5px;
  }
  header, main, .main__main-div {
    width: 1009px;
  }
}
@media (max-width: 1023px) {
  header {
    justify-content: space-between;
    padding: 0px 31px 0px 20px;
    width: auto;
    margin: 0;
  }
  .header__nav, header a {
    display: none;
  }
  header > img {
    display: block;
  }
  main, .main__top-part, .top-part__categories-list, .main__main-div {
    width: auto;
  }
  main, .main__main-div {
    height: 3025px;
  }
  .main__main-div {
    padding: 0px 20px;
  }
  .top-part__heading {
    margin: 40px 0px 32px 1px;
  }
  .main__middle-part {
    grid-template: 600px 594px 447px 447px 447px / 352px 24px 352px;
  }
  .middle-part__eggs-burnout {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  article:not(:nth-child(-n+2)) {
    width: auto;
  }
  .card-info__wrapper_big-gap, .card-info__wrapper_superbig-gap {
    row-gap: 42px;
  }
  .middle-part__run-fears {
    grid-column: 1 / 4;
    grid-row: 2;
  }
  .middle-part__girl-burnout {
    grid-column: 1;
    grid-row: 3;
  }
  .middle-part__girl-burnout .card-info__wrapper_supersmall-gap, .middle-part__woman-burnout .card-info__wrapper_supersmall-gap {
    row-gap: 14px;
  }
  .middle-part__girl-burnout h2, .middle-part__woman-burnout h2 {
    width: auto;
  }
  .middle-part__girl-burnout .card-info__description::after, .middle-part__woman-burnout .card-info__description::after {
    right: 13px;
  }
  .middle-part__swim-fears {
    grid-column: 3;
    grid-row: 3;
  }
  .card-info__wrapper_small-gap {
    row-gap: 26px;
  }
  .middle-part__swim-fears h2, .middle-part__woman-fears h2 {
    width: auto;
  }
  br {
    display: block;
  }
  .middle-part__emotions-smile {
    grid-column: 1;
    grid-row: 4;
  }
  article:nth-child(5), article:last-child {
    margin-left: 0;
  }
  .card-info__wrapper_middle-gap {
    row-gap: 46px;
  }
  .middle-part__woman-burnout {
    grid-column: 3;
    grid-row: 4;
  }
  .middle-part__woman-fears {
    grid-column: 1;
    grid-row: 5;
  }
  .middle-part__emotions-men {
    grid-column: 3;
    grid-row: 5;
  }
  .main__bottom-part {
    margin: 33px 0px 55px 0px;
  }
  footer {
    height: 306px;
    padding: 35px 20px 23px 20px;
  }
  .footer__main-part {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
  }
  footer nav {
    width: 247px;
    margin-left: 0;
  }
  footer hr {
    width: 100%;
    margin: 27px 0px 16px 0px;
  }
  .footer__bottom-part {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main__middle-part img:not(.middle-part__category img) {
    height: 404px;
  }
}
@media (max-width: 1000px) {
  footer {
    height: 455px;
  }
  .footer__main-part {
    height: 333px;
    row-gap: 26px;
    column-gap: 31px;
    justify-content: normal;
  }
}
@media (max-width: 782px) {
  header {
    padding: 0px 23.5px 0px 12.5px;
  }
  main, .main__main-div {
    width: 753px;
  }
  .main__main-div {
    padding: 0px 12.5px;
  }
  .footer__main-part {
    column-gap: 16px;
  }
}
@media (max-width: 767px) {
  header {
    height: 72px;
    padding: 0px 35px 0px 24px;
  }
  .header__logo-nav > img {
    width: 48px;
    height: 34px;
  }
  main, .main__main-div {
    width: auto;
    height: 2229px;
  }
  .main__main-div {
    padding: 0px 20px;
    align-items: normal;
  }
  .main__top-part {
    padding: 16px 0px 16px 0px;
    align-self: auto;
  }
  .main__top-part > div {
    height: 36px;
    overflow: hidden;
  }
  .main__top-part > div > div {
    height: 56px;
    overflow-x: scroll;
  }
  .top-part__heading {
    font: 32px/40px "Montserrat-Bold";
    margin: 32px 0px 24px 0px;
  }
  .top-part__categories-list {
    width: 1181px;
    padding-top: 2px;
    margin: 0px 1px 0px 1px;
    flex-wrap: nowrap;
  }
  .main__middle-part {
    display: flex;
    width: 374px;
    flex-direction: column;
    row-gap: 16px;
    grid-template: none;
  }
  article:nth-last-child(-n+4) {
    display: none;
  }
  article a img {
    height: 206px;
  }
  .card-info__wrapper_big-gap {
    row-gap: 40px;
  }
  .card-info__wrapper_superbig-gap {
    row-gap: 46px;
  }
  .middle-part__girl-burnout .card-info__wrapper_supersmall-gap {
    row-gap: 39px;
  }
  .middle-part__girl-burnout .card-info__description {
    height: auto;
    overflow: visible;
  }
  .middle-part__girl-burnout .card-info__description::after {
    content: "";
  }
  .card-info__wrapper_small-gap {
    row-gap: 45px;
  }
  .main__bottom-part {
    margin: 28px 0px 59px 0px;
  }
  footer {
    height: 654px;
  }
  .footer__main-part {
    width: 374px;
    height: 532px;
    align-content: flex-start;
    row-gap: normal;
  }
  footer nav {
    height: 184px;
    margin-bottom: 23px;
    width: auto;
  }
  .footer__nav-links {
    grid-template: repeat(5, 24px) / 110.5px 158px 106.5px;
  }
  .footer__form {
    width: 374px;
    height: 192px;
    margin-bottom: 31px;
    row-gap: normal;
  }
  label {
    margin-bottom: 8px;
  }
  .form__underlay {
    margin-bottom: 12px;
  }
  .form__underlay, .form__surface {
    width: 374px;
  }
  .form__input {
    width: 313px;
  }
  .form__button {
    padding: 10.3px 17.5px;
  }
  .footer__social {
    height: 102px;
  }
}
@media (max-width: 610px) {
  footer {
    height: 736px;
  }
  footer hr {
    border-bottom: 1px solid #9D9D9D;
    margin: 20px 0px 20px 0px;
  }
  .footer__bottom-part {
    flex-direction: column;
  }
  .footer__bottom-part p {
    margin-bottom: 24px;
  }
  .footer__bottom-part a:nth-child(2) {
    margin-bottom: 20px;
  }
}
@media (min-width: 414px) and (max-width: 414px) {
  .main__top-part > div {
    width: 391px;
  }
}
@media (max-width: 413px) {
  header {
    height: 56px;
    padding: 0px 19px 0px 16px;
  }
  .main__top-part {
    padding: 24px 0px 24px 0px;
  }
  .top-part__bread-crumbs {
    margin-left: 1px;
  }
  .top-part__heading {
    font: 24px/32px "Montserrat-Bold";
    margin: 24px 0px 24px 1px;
  }
  main, .main__main-div {
    height: 2305px;
  }
  .main__main-div {
    padding: 0px 16px 0px 15px;
  }
  .main__middle-part {
    width: 288px;
  }
  .middle-part__eggs-burnout .card-info__description, .middle-part__girl-burnout .card-info__description {
    height: 60px;
    overflow: hidden;
  }
  .middle-part__eggs-burnout .card-info__description::after, .middle-part__girl-burnout .card-info__description::after {
    content: "...";
    position: absolute;
    top: auto;
    right: 51px;
    bottom: -1px;
  }
  .card-info__wrapper_big-gap, .middle-part__girl-burnout .card-info__wrapper_supersmall-gap {
    row-gap: 8px;
  }
  .card-info__wrapper_superbig-gap, .card-info__wrapper_small-gap {
    row-gap: 18px;
  }
  footer {
    height: 724px;
    padding: 35px 14px 37px 18px;
  }
  .footer__main-part {
    width: 100%;
    height: 506px;
  }
  footer nav {
    margin: 0px auto 23px auto;
  } 
  .footer__nav-links {
    grid-template: repeat(5, 24px) / 110.5px 71px 106.5px;
  }
  .footer__form {
    margin-bottom: 5px;
  }
  .form__underlay, .form__surface, .form__input {
    width: 288px;
  }
  .form__button {
    display: none;
  }
}
@media (max-width: 385px) {
  label {
    width: auto;
  }
}
@media (max-width: 342px) {
  footer {
    height: 750px;
  }
  .footer__main-part {
    height: 532px;
  }
  .footer__form {
    height: 218px;
  }
  .form__surface {
    top: 85px;
  }
}
@media (max-width: 320px) {
  label br {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 320px) {
  .main__top-part > div {
    width: 304px;
  }
}