@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}
*:not(html):not(body) {
  position: relative;
}
body, ul, h1, h2, p {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  height: 76px;
  align-items: center;
  border-bottom: 1px solid #EFF5FB;
  box-shadow: inset 0px -2px #EFF2F2;
  padding: 0px 192px 0px 192px;
}
.header__logo {
  margin-right: 128px;
}
.header__nav {
  width: 800px;
  margin-right: 303.9856px;
}
.header__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header__links a, .header__links li {
  text-decoration: none;
  color: #333333;
  font-family: "Montserrat-Medium";
  font-size: 14px;
  letter-spacing: 0.25px;
}
.header__link_special_with-dropdown {
  display: flex;
  gap: 8px;
}
.header__link-image {
  cursor: pointer;
  margin-top: 2px;
}
.header__button {
  font-family: "Montserrat-Bold";
  font-size: 16px;
  background-color: #E3F5F5;
  color: #03B2A5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 14px 20px;
}
.header__button:hover {
  background-color: #BFF3F3;
}
main {
  height: 1905px;
}
.main__back-div {
  position: absolute;
  width: 100%;
  height: 672px;
  background-image: url("../images/backdiv_background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 401px;
}
.main__main-div {
  height: 1905px;
  z-index: 1;
  padding: 0px 192px 0px 192px;
}
.main__top-part {
  display: flex;
  flex-direction: column;
  height: 208px;
  justify-content: space-between;
  padding: 16px 0px 24px 0px;
}
.top-part__bread-crumbs {
  display: flex;
  margin-left: 6.4px;
  gap: 14.4px;
}
.top-part__bread-left {
  display: flex;
  gap: 9.6px;
}
.top-part__bread-link, .top-part__bread-crumbs {
  font-family: "Montserrat-Regular";
  font-size: 13.6px;
  color: #333333B3;
  letter-spacing: 0.25px;
}
.top-part__bread-link {
  text-decoration: none;
  margin-bottom: 2px;
}
.top-part__heading {
  font-family: "Montserrat-Bold";
  font-size: 48px;
  color: #333333;
}
.top-part__categories-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.top-part__categories-list li {
  display: flex;
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  color: #333333;
  border: 1px solid #C1C5CD;
  border-radius: 24px;
  cursor: pointer;
  padding: 6px 8px;
}
.top-part__list-item_special_with-icon {
  gap: 4px;
}
.list-item__image_special_elevated {
  margin-bottom: 2px;
}
.top-part__categories-list li:nth-child(3) {
  border: 2px solid #16C8BB;
}
.main__middle-part {
  display: grid;
  grid-template: 499px 475px 475px / 240px 240px 24px 240.5px 24px 240.5px 24px 240px 240px;
  row-gap: 24px;
}
.main__middle-part article, .main__middle-part span {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.middle-part__eggs-burnout {
  grid-column: 1 / 5;
  grid-row: 1;
}
.middle-part__category {
  position: absolute;
  display: flex;
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  color: #333333;
  background-color: #FFFFFFB3;
  border: 1px solid #C1C5CD;
  border-radius: 24px;
  z-index: 2;
  gap: 4px;
  top: 8px;
  left: 8px;
  padding: 6px 8px;
}
.middle-part__category img {
  width: 18px;
  height: 18px;
}
.lower {
  top: 48px;
}
.main__middle-part img:not(.middle-part__category img) {
  height: 260px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
.main__middle-part div {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 16px;
}
.middle-part__card-info_size_big {
  height: 239px;
}
.card-info__wrapper_big-gap {
  gap: 89px;
}
.middle-part__card-info_size_big > span > span, .middle-part__card-info_size_small > span > span {
  gap: 11px;
}
.middle-part__card-info_size_big > span > span > span, .middle-part__card-info_size_small > span > span > span {
  gap: 4px;
}
h2 {
  font-family: "Montserrat-Bold";
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}
.card-info__author, .card-info__date {
  font-family: "Montserrat-Regular";
  font-size: 12px;
  letter-spacing: 0.25px;
}
.dark-grey {
  color: #494949;
}
.card-info__description {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.light-grey {
  color: #868686;
}
.middle-part__run-fears {
  grid-column: 6 / 10;
  grid-row: 1;
}
.card-info__wrapper_superbig-gap {
  gap: 95px;
}
.middle-part__girl-burnout {
  grid-column: span 2;
  grid-row: 2;
}
.middle-part__card-info_size_small {
  height: 216px;
}
.card-info__wrapper_supersmall-gap {
  gap: 18px;
}
.middle-part__swim-fears {
  grid-column: 4 / 7;
  grid-row: 2;
}
.card-info__wrapper_small-gap {
  gap: 24px;
}
.middle-part__emotions-smile {
  grid-column: 8 / span 2;
  grid-row: 2;
}
.card-info__wrapper_middle-gap {
  gap: 70px;
}
.middle-part__woman-burnout {
  grid-column: span 2;
  grid-row: 3;
}
.middle-part__woman-fears {
  grid-column: 4 / 7;
  grid-row: 3;
}
.middle-part__emotions-men {
  grid-column: 8 / span 2;
  grid-row: 3;
}
.main__bottom-part {
  display: flex;
  width: 1513px;
  justify-content: center;
  margin: 56px 0px 96px 0px;
}
.main__button {
  font-family: "Montserrat-Bold";
  font-size: 16px;
  background-color: #35B3A9;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 70px;
}
.main__button:hover {
  background-color: #44D8CC;
}
footer {
  height: 302px;
  background-color: #2963A3;
  padding: 40px 192px 17px 192px;
}
.footer__main-part {
  display: flex;
  height: 184px;
  justify-content: center;
}
.footer__nav-social {
  display: flex;
  width: 1513px;
  justify-content: space-between;
}
.footer__nav-links {
  display: grid;
  grid-template: repeat(5, 24px) / 111px 182px 107px;
  row-gap: 16px;
  list-style: none;
}
.footer__nav-link_position_left {
  grid-column: 1;
}
.footer__nav-link_position_right {
  grid-column: 3;
}
.footer__nav-links li:nth-child(1), .footer__nav-links li:nth-child(6) {
  grid-row: 1;
}
.footer__nav-links li:nth-child(2), .footer__nav-links li:nth-child(7) {
  grid-row: 2;
}
.footer__nav-links li:nth-child(3), .footer__nav-links li:nth-child(8) {
  grid-row: 3;
}
.footer__nav-links li:nth-child(4), .footer__nav-links li:nth-child(9) {
  grid-row: 4;
}
.footer__nav-links li:nth-child(5), .footer__nav-links li:nth-child(10) {
  grid-row: 5;
}
.footer__nav-links a {
  text-decoration: none;
  font-family: "Montserrat-Bold";
  font-size: 16px;
  color: #FFFFFF;
}
.footer__social {
  display: flex;
  height: 122px;
  flex-direction: column;
  justify-content: space-between;
}
.footer__participant {
  display: flex;
  gap: 10px;
}
.footer__participant img:last-child {
  margin-top: 5px;
}
.footer__social-links {
  display: flex;
  width: 178px;
  justify-content: space-between;
}
.footer__social-links img {
  cursor: pointer;
}
.footer__form {
  position: absolute;
  display: flex;
  width: 444px;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}
label {
  font-family: "Montserrat-Bold";
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
.form__underlay {
  width: 384px;
  height: 45.4px;
  border: 1px solid #9D9D9D33;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.form__input {
  position: absolute;
  width: 318px;
  border: none;
  border-radius: 4px;
  z-index: 2;
  top: 61px;
  padding: 14px 10px 14px 16px;
}
.form__input::placeholder {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 20px;
  color: #9D9D9D;
}
.form__button {
  position: absolute;
  display: flex;
  border: none;
  border-radius: 4px;
  background-color: #16C8BB;
  z-index: 3;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 60px;
  right: 60.01px;
  padding: 10.3px 20px;
}
.form__button:hover {
  background-color: #11ecde;
}
.form__info {
  font-family: "Montserrat-Regular";
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
}
.form__law, .form__pp {
  text-decoration: none;
  color: #FFFFFF;
}
.form__law:hover, .form__pp:hover {
  text-decoration: underline;
}
hr {
  border-top: 1px solid #9D9D9D;
  border-right: none;
  border-bottom: none;
  border-left: none;
  opacity: 0.3;
  margin: 24px 0px 16px 0px;
}
.footer__bottom-part {
  display: flex;
  width: 695px;
  justify-content: space-between;
}
.footer__bottom-part p, .footer__bottom-part a {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  color: #FFFFFF;
}
.footer__bottom-part a {
  text-decoration: none;
}